<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
<connectionStrings><add name="DataBaseEntities" connectionString="metadata=res://*/DataBaseModel.Model.csdl|res://*/DataBaseModel.Model.ssdl|res://*/DataBaseModel.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-C90C8H6N;initial catalog=DataBase;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>